body {
    font-family: 'Baskervville', serif !important;

}

/*
.carousel-item {
    max-height: auto;
 }
*/

.carousel-indicators li{ 
    height: 12px !important;
    width: 3px !important;
}




form {
    max-width: 500px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #e3e3e3;
    border-radius: 8px;
    grid-column: 1/2;
    grid-row: 3/4
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,select {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid transparent;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #f5f5f5;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    transition: all 350ms;
}

.gradient-button {
    background-image: linear-gradient(
    -30deg,
    lightblue 10% 50%,
    cadetblue 50% 100%
    );
    background-size: 200%;
    border-radius: 0.5rem;
    height: 100px;
    width: 320px;
    background-position: 0%;
    transition: background-position 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
      
.gradient-button:hover {
    background-position: 50%;
  }

@media only screen and (min-width: 768px) {
    .carousel-item {
        max-width: 100%;
        height: auto;
    }
}

/* CSS HEX */
--black: #000000ff;
--baby-powder: #fffffcff;
--khaki: #beb7a4ff;
--orange-wheel: #ff7f11ff;
--red: #ff1b1cff;

/* CSS HSL */
--black: hsla(0, 0%, 0%, 1);
--baby-powder: hsla(60, 100%, 99%, 1);
--khaki: hsla(44, 17%, 69%, 1);
--orange-wheel: hsla(28, 100%, 53%, 1);
--red: hsla(360, 100%, 55%, 1);

/* SCSS HEX */
$black: #000000ff;
$baby-powder: #fffffcff;
$khaki: #beb7a4ff;
$orange-wheel: #ff7f11ff;
$red: #ff1b1cff;

/* SCSS HSL */
$black: hsla(0, 0%, 0%, 1);
$baby-powder: hsla(60, 100%, 99%, 1);
$khaki: hsla(44, 17%, 69%, 1);
$orange-wheel: hsla(28, 100%, 53%, 1);
$red: hsla(360, 100%, 55%, 1);

/* SCSS RGB */
$black: rgba(0, 0, 0, 1);
$baby-powder: rgba(255, 255, 252, 1);
$khaki: rgba(190, 183, 164, 1);
$orange-wheel: rgba(255, 127, 17, 1);
$red: rgba(255, 27, 28, 1);

