body {
    font-family: 'Baskervville', serif !important;

}

h1 {
    font-size: 38px !important;
}

h2{
    font-size: 32px !important;
}

.text-dark {
    color: black;
}

.carousel-indicators li{ 
    height: 12px !important;
    width: 3px !important;
}



.col-sm-5 img {
    width: 60%;
    height: auto;
    margin-left: 20px;
}

.card-body{
    background: #ead2acff;
}

.text-muted {
    color: darkslategrey !important;
    font-size: 13px;
}

form {
    height: 100%;
    margin: 5px;
    padding: 20px;
    color: white;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,select {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    font-size: 15px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #f5f5f5;
    color: #7BAFD4;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    transition: all 250ms;
}

button {
    padding: 19px 39px 19px 39px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    color: #074F69;
    background-color: #f5f5f5;
}

button:hover,
button:focus {
    background-color: #ead2acff;
    color: black;
    transition: all 350ms ease-in-out;
}

@media only screen and (min-width: 768px){
    .carousel-item {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .sitterson {
        height: 50%;
    }

    .submit-button {
        width: 500px
    }
    
}


.btn-primary {
    background-color: #074F69 !important;
}

.bg-primary {
    background-color: #074F69 !important;
}

.bg-light {
    background-color: #ead2acff !important;
}

.bg-secondary {
    background-color: #eaba6bff !important;
}

footer{
    background-color: #074F69;
}

/* 
CSS HEX COLOR PALETTE
-- #7BAFD4;
--picton-blue: #00abe7ff;
--vivid-sky-blue: #2dc7ffff;
--wheat: #ead2acff;
--earth-yellow: #eaba6bff;
*/


